/*header部分样式*/
.my_small{
    font-size: 0.8rem;
}
html,body{
    background-color: #f5f5f5;
}
/*修改面包屑导航的背景色*/
.breadcrumb{
    background-color: #f5f5f5;
}
/*修改连接符*/
.breadcrumb-item + .breadcrumb-item::before{
    content: '|';
    padding-right: 1rem;
    padding-left: 1rem;
}
/************1F*/
.title_font{
    font-size: 1.5rem;
    font-weight: bold;
}
.border-bottom{
    border: 3px;
}
.f1_top{
    background-color: #aaaaaa;
    height: 337px;
}
.f1_bottom{
    background-color: #aaaaaa;
    height: 233px;
}
.nav {
    min-height: 60px;
}
.carousel-indicators .active{
    background-color: #0aa1ed;
}
.carousel-control-prev, .carousel-control-next{
    width: 4%;
    height: 20%;
    background-color: #aaaaaa;
    top:40%;
    border-radius: 0.25rem;
}